/MonsterTacics/x64
/MonsterTacics/.vs
/MonsterTacics/Debug
/MonsterTacics/MonsterTacics/x64
/MonsterTacics/MonsterTacics/Log.txt
/MonsterTacics/MonsterTacics/MonsterTacics.vcxproj.user
/MonsterTacics/MonsterTacics/Debug
/2DAction/x64
/2DAction/.vs
/2DAction/2DAction/Log.txt
/2DAction/2DAction/x64
/2DAction/2DAction/2DAction.vcxproj.user
